{% extends 'base/base.html' %}

{% block title %}
Live
{% endblock %}

{% block content %}

<div class="container my-3">
    <div class="row justify-content-center ">
        <div class="col-md-9 bg-dark rounded">
            <div class="d-flex my-3 justify-content-center">
                <video class="img-fluid d-none" id="video" width="640" height="480" autoplay muted>
    
                </video>
                <img class="img-fluid" id="img" />
            </div>
        </div>
    </div>
</div>

<script>

</script>
{% endblock content %}