<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon"
        href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <!-- CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css' ) }}">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='index.js' ) }}"></script>
    <script src="{{ url_for('static', filename='holder.js') }}"></script>

</head>

<body class="d-flex flex-column vh-100">
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-dark bg-dark py-md-0 bg-opacity-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img class=""
                        src="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
                        height="35">
                </a>
                <button class="navbar-toggler d-lg-none" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}" id="">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('live') }}" id="">
                                Live
                            </a>
                        </li>

                        {% if current_user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="/identities">
                                Identities
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/settings">
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                Logout
                            </a>
                        </li>
                        <li class="nav-item ms-md-3">
                            <a class="nav-link disabled">
                                Signed in as {{ current_user.username }}
                            </a>
                        </li>

                        {% else %}

                        <li class="nav-item ">
                            <a class="nav-link" href="/login">
                                Login
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/signup">
                                Sign Up
                            </a>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1 gradient-custom">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="bg-dark text-light text-center py-2">
        Batuhan Görkey - gorkeybatuhan@gmail.com
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>