
body {
    background: #f093fb;
    color: #f1e9e9;
}

img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(99, 0, 113), rgba(151, 0, 17))
}

.custom-card {
    border-radius: 15px;
}

.image-container,
.form-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-small {
    height: 20vh;
    width: auto;
}

.img-main {
    height: 65vh !important;
    width: auto;
    filter: brightness(100%);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
}

.table {
    background-color: #32323a;
    color: #e4d9d9;
}